* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
    min-height: 500px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Hiển thị 5 item trên 1 hàng */
    gap: 20px;
}

.product-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 1.1rem;
    color: #3476f1;
    margin-bottom: 20px;
}

.add-to-cart {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

.info {
    width: 45%;
    min-height: 200px;
    background-color: white;
    ;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    line-height: 2;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.right {
    width: 20%;
    background-color: white;
    ;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
    text-wrap: wrap;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.page-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-button:hover {
    background-color: #ddd;
}